<h1>Students</h1>
<%= form_tag student_search_path, method: :get, "data-turbo-frame": "student_search" do %>
  <%= text_field_tag(:search, params[:search],
    placeholder: "Enter student name ...",
    "data-turbo-frame": "_self"
  )%>
<% end %>
<div class="content-body">
<%=turbo_frame_tag "student_search", src: student_search_path do%>
  
<% end %>
</div>
<%= link_to "New student", new_student_path %>
