<h1>Students</h1>

<table>
<tbody> 
<%= turbo_frame_tag "student_search" do %>
  <%= form_tag student_search_path, method: :get do %>
    <%= text_field_tag(:search, params[:search],
      placeholder: "Enter student name ...", 
    )%>
  <% end %>
<% end %>
</tbody>
</table>
<%= link_to "New student", new_student_path %>
